<!DOCTYPE html>

<html>
    <head>
      <title> formalibre </title>
      <style>
          ul, li {
            list-style-type: none;
            list-style-position:inside;
            margin:0;
            padding:0;
          }

          .top-margin {
              margin-top: 10%;
          }

          .footer {
              text-align:center;
          }

          .default-block {
              margin-left:10%;
          }

          .client-info {
              margin-left:60%;
          }

          .logo {
                max-width:20%;
                height: auto;
          }

          .top-span {
              display: inline-block;
          }
      </style>
    </head>

    <body>
        <div class="top default-block top-margin">
            <img src="{{ asset('bundles/formalibreinvoice/images/invoice_logo.jpg', absolute=true) }}" class="logo" alt="logo"/>
            <span class="top-span">
                <ul>
                    <li> Facture n° {{ order.getId({{ sws.code }}) }} </li>
                    <li> Date d'émission: {{ order.getValidationDate().getTimeStamp()|date('d/m/Y')}} </li>
                </ul>

            </span>
        </div>
        <div class="client-info top-margin">
            <ul>
                <li> {{ order.getOwner().getFirstName() }} {{ order.getOwner().getLastName() }} </li>
                <li> {{ order.getVatNumber() }} </li>
                <li> {{ street }} </li>
                <li> {{ cp }} </li>
                <li> {{ country }} </li>
            </ul>
        </div>
        <div class="payment-type default-block top-margin">
            <ul style="list-style-type: none;">
                <li> Date d'achat: {{ order.getCreationDate().getTimeStamp()|date('d/m/Y') }} </li>
                <li> Mode de paiment: {{ order.getPaymentInstruction().getPaymentSystemName()|trans({}, 'invoice') }} </li>
                <li> Durée de souscription: {{ duration }} mois </li>
                <li> Date d'expiration: {{ sws.getExpDate()|date('d/m/Y') }} </li>
            </ul>
        </div>
        <div class="item-description default-block top-margin">
            <table table-striped>
                <thead>
                    <tr>
                        <th> Item </th>
                        <th> Description </th>
                        <th> Quant.</th>
                        <th> VAT </th>
                        <th> Unit Price </th>
                        <th> VAT included </th>
                        <th> Net value </th>
                        <th> Total </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> {{ order.getProduct().getCode()|trans({}, 'invoice') }} </td>
                        <td> descr </td>
                        <td> 1 </td>
                        <td> {{ order.getVatRate() }} </td>
                        <td> {{ order.getPriceSolution().getPrice() }} </td>
                        <td> {{ order.getVatAmount() }}</td>
                        <td> {{ order.getAmount() }} </td>
                        <td> {{ order.getAmount() }} </td>
                </tbody>
            </table>
        </div>
        <div id="footer" class="footer top-margin">
            <small>
                {{ 'invoice_footer'|trans({}, 'invoice')|raw }}
            </small>
        </div>
    </body>

</html>
