{% set layout = "ClarolineCoreBundle::layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% if isDesktop() %}
    {% block breadcrumb %}
        {{
            macros.desktopBreadcrumbs([
                {
                    'name': 'formalibre'|trans({}, 'platform'),
                    'href': path('invoice_show_all')
                },
                {
                    'name': 'subscription'|trans({}, 'invoice'),
                    'href': ''
                }
            ])
        }}
    {% endblock %}
{% endif %}

{% block content %}

<div class="section-content">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="{{ path('formalibre_free_test_workspace') }}"> free </a>
            <div class="row">
                {% for form in forms %}
                <div class="col-md-3">
                    <div class="well">
                        {{
                            'SHARE_WS_DESCRIPTION'|trans(
                                {
                                    '%code%': form['product'].getCode()|trans({}, 'invoice'),
                                    '%users%': form['product'].details.max_users,
                                    '%storage%': form['product'].details.max_storage,
                                    '%resources%': form['product'].details.max_resources
                                },
                                'invoice'
                            )|raw
                        }}
                    </div>
                    <form action="{{ path('workspace_product_payment_submit', {'product': form['product'].getId(), 'order': form['order'].getId() }) }}" method="post">
                        {% form_theme form['form'] 'FormaLibreInvoiceBundle::form_theme_payment.html.twig' %}
                        {{ form_widget(form['form']) }}
                        <input type="submit" class="btn btn-primary" value="{{'add'|trans({}, 'platform')}}"/>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
