{% if hasFreeTest %}
<div class="container">
    <div class="span12" style="text-align:center;">
        <a class="btn btn-primary" href="{{ path('formalibre_free_test_workspace', {'product': forms[0]['product'].getId()}) }}">Essayer gratuitement
            <img href="{{ asset('') }}"></img>
        </a>
    </div>
</div>
{% endif %}
</br>

{% for key, form in forms %}
    {% if key % 2 == 0 %}
        {% set offset = 'col-md-offset-1' %}
    {% else %}
        {% set offset = 'col-md-offset-2' %}
    {% endif %}
    <div class="col-md-4 {{ offset }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if form['product'].details.pretty_name is defined %}
                    {% set prettyName = form['product'].details.pretty_name|trans({}, 'invoice') %}
                {% else %}
                    {% set prettyName = form['product'].getCode() %}
                {% endif %}
                <h3> {{ prettyName }} </h3>
            </div>
            <div class="panel-body">
                {{
                    'SHARE_WS_DESCRIPTION'|trans(
                        {
                            '%code%': form['product'].getCode()|trans({}, 'invoice'),
                            '%users%': form['product'].details.max_users,
                            '%storage%': form['product'].details.max_storage,
                            '%resources%': form['product'].details.max_resources
                        },
                        'invoice'
                    )|raw
                }}
                <form action="{{ path('workspace_product_payment_submit', {'product': form['product'].getId(), 'order': order.getId() }) }}" method="post">
                    {% form_theme form['form'] 'FormaLibreInvoiceBundle::form_theme_payment.html.twig' %}
                    {{ form_widget(form['form']) }}
                    <input type="submit" class="btn btn-primary" value="{{'subscribe'|trans({}, 'invoice')}}"/>
                </form>
            </div>
        </div>
    </div>
{% endfor %}
