{% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}

{% extends layout %}

{% block breadcrumb %}
    {{
        macros.desktopBreadcrumbs([
            {
                'name': 'formalibre'|trans({}, 'platform'),
                'href': path('claro_desktop_open')
            },
            {
                'name': workspace.name,
                'href': ''
            }
        ])
    }}
{% endblock %}

{% block content %}

<div class="section-content">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3">
                <div class="well">
                    {{
                        'SHARE_WS_DESCRIPTION'|trans(
                            {
                                '%code%': product.code|trans({}, 'invoice'),
                                '%users%': product.details.max_users,
                                '%storage%': product.details.max_storage,
                                '%resources%': product.details.max_resources
                            },
                            'invoice'
                        )|raw
                    }}
                </div>
                {% set action = path('workspace_product_payment_submit', {'product': product.getId(), 'order': order.getId() }) %}
                <form action="{{ action }}" method="post">
                    {% form_theme form 'FormaLibreInvoiceBundle::form_theme_payment.html.twig' %}
                    {{ form_widget (form) }}
                    <input type="submit" class="btn btn-primary" value="{{ 'buy'|trans({}, 'invoice') }}"/>
                </form>
            </div>
            <div class="col-md-9">
                <div class="well">
                    {{ 'expiration_date'|trans({}, 'invoice')}}: {{ workspace.endDate|date('d/m/Y') }} </br> 
                    {{ 'name'|trans({}, 'platform') }}: {{ workspace.name }} </br>
                    {{ 'code'|trans({}, 'platform') }}: {{ workspace.code }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
