<div id="modal-partner-select-form"
     class="modal-dialog" 
     role="dialog" 
     aria-labelledby="modalLabel" 
     aria-hidden="true"
>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3 class="modal-title">
                {{ 'partner_selection'|trans({}, 'invoice') }}
            </h3>
        </div>
        <div class="modal-body">
            <form id="partner-select-form"
                  action="{{ path('admin_invoice_user_partner_select', {'user': user.getId(), 'currentPartnerId': currentPartnerId}) }}"
                  method="POST"
                  {{ form_enctype(form) }}
            > 
                {% form_theme form 'ClarolineCoreBundle::form_theme_no_label.html.twig' %}
                {{ form_widget(form) }}
            </form>
        </div>
        <div class="modal-footer">
            <span class="btn btn-default" data-dismiss="modal">
                {{ 'cancel'|trans({},'platform') }}
            </span>
            <button type="submit" id='create-btn' class="btn btn-primary">
                {{ 'ok'|trans({},'platform') }}
            </button>
        </div>
    </div>
</div>