{% twig_js name="ProductTableRow" %}

<tr id="row-product-{{ product.id }}">
    <td> {{ product.code }} </br> <a class="remove-product" data-product-id="{{ product.id }}" href="{{ path('formalibre_product_remove', {'product': product.id}) }}"> {{ 'delete'|trans({}, 'platform') }} </a> </td>
    <td>
        <ul>
            {% for key, value in product.details %}
                <li> {{ key|trans({}, 'invoice') ~ ': ' ~ value }} </l>
            {% endfor %}
        <ul>
        <a class="edit-product" data-product-id="{{ product.id}}" href="#"> {{ 'edit'|trans({}, 'platform') }} </a>
    </td>
    <td>
        <ul id='price-list-{{ product.id }}'>
            {% for priceSolution in product.priceSolutions %}
                {% include 'FormaLibreInvoiceBundle:Administration:priceElement.html.twig' with {'priceSolution': priceSolution} %}
            {% endfor %}
        </ul>
        <a class="add-price-solution" data-product-id="{{ product.id}}" href="#"> {{ 'add'|trans({}, 'platform') }} </a>
    </td>
    <td>
        <input class='chk-activation' data-product-id='{{ product.id }}' type="checkbox" {% if product.isActivated == 1 %} checked {% endif %}></input>
    </td>
</tr>
