{# we use a table because wkhtmltoptf isn't really happy with bootstrap #}
<table>
    <tr>
        <td width="20%">
            <img style="display: block; max-width:150px; max-height:20%;" src="{{ asset('bundles/formalibreinvoice/images/invoice_logo.jpg', absolute=true) }}" alt="logo_formalibre"/>
        </td>
        <td width="20%">
            {{ 'invoice_number'|trans({}, 'invoice') }}: {{ chart.getInvoice().getId() }}
            <ul style="list-style-type: none; padding-left:0;">
                <li> {{ chart.getOwner().getLastName() }} {{ chart.getOwner().getFirstName() }} </li>
                {% if company is defined %} <li> {{ company }} </li> {% endif %}
                <li> {{ 'invoice_date'|trans({}, 'invoice' ) }}: {{ chart.getCreationDate().getTimeStamp()|date('d/m/Y') }} </li>
                <li> {{ 'payment_method'|trans({}, 'invoice') }}: {{ chart.getInvoice().getPaymentSystemName()|trans({}, 'invoice') }} </li>
            </ul>
        </td>
    </tr>
</table>
