<!DOCTYPE html>

<html>
    <head>
      <title> formalibre </title>
      <style>
          ul, li {
            list-style-type: none;
            list-style-position:inside;
            margin:0;
            padding:0;
          }

          .top-margin {
              margin-top: 10%;
          }

          .footer {
              text-align:center;
          }

          .default-block {
              margin-left:10%;
          }

          .client-info {
              margin-left:60%;
          }

          .logo {
                max-width:20%;
                height: auto;
          }

          .top-span {
              display: inline-block;
          }
      </style>
    </head>

    <body>
        <div class="top default-block top-margin">
            <img style="max-width:10%; height: auto; margin-bottom: 2%"src="{{ asset('bundles/formalibreinvoice/images/invoice_logo.jpg', absolute=true) }}" class="logo" alt="logo_formalibre"/>
        </div>
        <div class="top-margin title">
            Merci de votre Réservation
        </div>
        <div class="top-margin credit">
            Nous vous confirmons la réservation de votre espace d'activité. Vous trouverez une copie des informations relatives à votre achat ci-dessous.
        </div>
        <div class="payment-type default-block top-margin">
            Numéro de commande: {{ order.getId() }}
            <ul style="list-style-type: none;">
                <li> {{ order.getOwner().getLastName() }} {{ order.getOwner().getFirstName() }} </li>
                {% if company is defined %} <li> {{ company}} </li> {% endif %}
                <li> Date de commande: {{ order.getCreationDate().getTimeStamp()|date('d/m/Y') }} </li>
                <li> Mode de paiment: {{ order.getPaymentInstruction().getPaymentSystemName()|trans({}, 'invoice') }} </li>
            </ul>
        </div>
        <div class="item-description default-block top-margin">
            Description du produit:
            <ul style="list-style-type: none;">
                <li>Nom: {{ order.getProduct().getCode()|trans({}, 'invoice') }}</li>
                <li>Nombre d'utilisateur: {{ order.product.details.max_users }}</li>
                <li>Nombre de ressource: {{ order.product.details.max_resources }}</li>
                <li>Espace de stockage: {{ order.product.details.max_storage }} </li>
                <li>Durée: {{ order.getPriceSolution().getMonthDuration()  }} mois </li>
            </ul>
        </div>
        <div class="url-container default-block top-margin">
            Informations concernant le paiement par virement:
            <ul style="list-style-type: none;">
                <li> Forma-Libre S.A., Chemin du cyclotron, 6, 1345, Louvain-la-Neuve, Belgique </li>
                <li> Montant: {{ order.getAmount() }} EUR </li>
                <li> Communication structurée: {{ communication|format_structured_communication() }} </li>
                <li> Numéro de compte: BE36 7320 3521 4081 </li>
                <li> BIC: CREGBEBB </li>
                <li> CBC banque-assurance </li>
                <li> Avenue Paul Delvaux, n°1, 1340, Ottiginies, Belgique </li>
                <li> Votre espace d'activité vous sera ouvert dans un délai de 5 jours ouvrables maximum, après réception de votre virement. Vous serez averti via mail de l'ouverture de celui-ci </li>
            </ul>
        </div>
        <small>
            {{ 'invoice_footer'|trans({}, 'invoice')|raw }}
        </small>
    </body>
</html>
