{% set layout = "ClarolineCoreBundle::layout.html.twig" %}

{% if isDesktop() %}
    {% set layout = "ClarolineCoreBundle:Desktop:layout.html.twig" %}
{% endif %}

{% extends layout %}

{% block content %}
    <div class="panel panel-default" id="support-credit-purchase-form">
        <img src="{{ asset('bundles/formalibreinvoice/images/supportCreditsPurchase/Banner.jpg') }}"
             class="img-responsive"
             alt="Responsive image"
        >
        <br>
        <form action="{{ path('formalibre_support_credits_products_purchase') }}" 
              method="POST"
              novalidate
        >
            <div class="panel-body">
                <div class="row">
                    <input type="hidden"
                           id="support_credit_purchase_form_product"
                           name="support_credit_purchase_form[product]"
                           value="-1"
                    >

                    {% for product in products %}
                        {% set productId = product.getId() %}
                        {% set details = product.getDetails() %}
                        {% set prices = product.getPriceSolutions() %}
                        <div class="col-md-{{ 12//products|length }}">
                            <div class="panel panel-default pointer-hand product-panel"
                                 id="product-panel-{{ productId }}"
                                 data-product-id="{{ productId }}"
                            >
                                <div class="panel-heading">
                                    <h3 class="panel-title text-center">
                                        <img src="{{ asset('bundles/formalibreinvoice/images/supportCreditsPurchase/Pack_' ~ details['nb_credits'] ~ '.png') }}"
                                             class="img-responsive credits-img"
                                             alt="Responsive image"
                                             width="40px"
                                        >
                                        {% if details['name'] is defined %}
                                            {{ details['name'] }}
                                        {% else %}
                                            ???
                                        {% endif %}
                                    </h3>
                                </div>
                                <div class="panel-body text-center">
                                    <p>
                                        {{ 'nb_credits'|trans({}, 'invoice') }} :

                                        {% if details['nb_credits'] is defined %}
                                            {{ details['nb_credits'] }}

                                            {% if details['nb_hours'] is defined %}
                                                (
                                                =
                                                {{ details['nb_hours'] }}
                                                {{ 'hours'|trans({}, 'invoice') }}
                                                )
                                            {% endif %}
                                        {% else %}
                                            0
                                        {% endif %}
                                    </p>

                                    {% if prices|length > 0 %}
                                        <img src="{{ asset('bundles/formalibreinvoice/images/supportCreditsPurchase/eurogris.png') }}"
                                             class="img-responsive credits-img"
                                             alt="Responsive image"
                                             width="15px"
                                        >
                                        :
                                        {{ prices[0].getPrice() }} €
                                    {% else %}
                                        -
                                    {% endif %}
                                    <br>
                                    <br>
                                    <p>
                                        {% if details['saving'] is defined and details['saving'] > 0 %}
                                            <span class="label label-success saving-label">
                                                {{ 'saving'|trans({}, 'invoice') }} :
                                                {{ details['saving'] }} €
                                            </span>
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary disabled" id="buy-btn">
                        {{ 'buy'|trans({}, 'invoice') }}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="{{ asset('bundles/formalibreinvoice/css/supportCreditsPurchaseForm.css') }}"
          type="text/css"
    />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src='{{ asset('bundles/formalibreinvoice/js/supportCreditsPurchaseForm.js') }}'
            type="text/javascript"
    >
    </script>
{% endblock %}